:root {
  --accent-contrast-color: #002b36; /* very dark blue for contrast */
  --article-link-color: var(inherit);
  --background: #fdf6e3; /* base3 */
  --border-color: rgba(0, 0, 0, 0.1);
  --color: #586e75; /* base00 */
  --menu-color: #586e75;

  // Syntax highlighting (Solarized Light)
  --syntax-func-color: #268bd2; /* blue */
  --syntax-var-color: #b58900;  /* yellow */
  --syntax-punctuation-color: #657b83; /* base01 */
  --syntax-value-color: #2aa198; /* cyan */
  --syntax-comment-color: #93a1a1; /* base1 */
  --syntax-line-highlight-mix: #eee8d5;
  --syntax-line-highlight-background-color: #eee8d5; /* base2 */
  --syntax-line-highlight-color: #073642; /* base02 */
  --syntax-line-highlight-box-shadow: rgba(0, 0, 0, 0.05);
  --syntax-code-border-color: rgba(0, 0, 0, 0.05);
  --syntax-code-copy-button-background: rgba(0, 0, 0, 0.05);
  --syntax-code-copy-button-color: #586e75;
  --syntax-code-copy-button-box-shadow-color: rgba(0, 0, 0, 0.1);
}

// Native CSS Variable aren't supported in a combination with MEDIA QUERIES. Wait for a new standard https://drafts.csswg.org/css-env-1/
// --phone: "max-width: 684px";
// --tablet: "max-width: 900px";
$phone: 684px;
$tablet: 900px;